* {
    border-radius: 10px;

}

.hangman-page {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 100px auto auto auto auto auto auto auto auto auto 50px;
    grid-gap: 3px; 
    justify-content: center;
    align-content: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

header {
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: rgb(206, 206, 156);
    text-align: center;
}

.guessWordIn {
    background-color: burlywood;
    grid-column: 1 span 3;
    width: 450px;
    border: 2px solid green;
    padding: 20px;
    margin: 10px;
}

.keyboardKey {
    background-color: burlywood;
    grid-column: 1 span 3;
   
    border: 2px solid green;
    padding: 20px;
    margin: 10px;
}

.gameKeys{
    background-color: rgb(83, 87, 74);
    border: 2px solid rg(0, 0, 0);
}

.keyRows1 {
  
}

.keyRows2 {
    
}

.keyRows3 {
    
}

.keyRows4 {
   
}

/* .keyRowsZero {
    background-color: white;
    grid-column: 1 span 3;
    width: 300px;
    border: 0px;
    padding: 20px;
    margin: 10px;
} */

#startBtn {
    background-color: rgb(192, 192, 192);
    width: 180px;
    border: 2px solid green;
    padding: 12px;
    margin: 10px;
    margin-right: 60px;
    grid-column: 1 span 1;
}

#resetBtn {
    background-color: rgb(192, 192, 192);
    width: 180px;
    border: 2px solid green;
    padding: 12px;
    margin: 10px;
    margin-left: 60px;
    grid-column: 3 span 1;
}

.hangingArea {
    background-color: RGB(245,245,220);
    grid-column: 1 span 3;
    width: 450px;
    border: 2px solid green;
    padding: 20px;
    margin: 10px;
}

#gameDisplay {
    background-color:  rgb(192, 192, 192);;
    grid-column: 1 span 3;
    width: 450px;
    border: 2px solid green;
    padding: 20px;
    margin: 10px;    
}

footer {
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: rgb(206, 206, 156);
}