* {
    border-radius: 10px;

}

.hangman-page {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 150px auto auto auto auto auto auto auto auto auto 50px;
    grid-gap: 3px; 
    justify-content: center;
    align-content: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

header {
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: rgb(206, 206, 156);
    text-align: center;
}

.keepscore {
    text-align: right;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.guessWordIn {
    background-color:rgb(249, 250, 245);
    grid-column: 1 / span 3;
    width: 500px;
    border: 2px solid rgb(183, 163, 163);
    padding: 20PX;
    margin: 10px;
    text-align: center;
}

.currWordLetter {
    display: inline-block;
    margin: 10px;
    height: 30px;
    width: 30px;
    font-size:25px;
    text-align: center;
}

.keyboardKey {
    /* background-color: rgb(192, 192, 192); */
    background-color: rgb(255, 255, 255);
    grid-column: 1 / span 3;
   
    border: 0px solid rgb(0, 0, 0);;
    padding: 0px;
    text-align: center;
} 

.gameKeys{
    display: inline-block;
    background-color: rgb(249, 250, 245);
    border: 2px solid rgb(183, 163, 163);
    color: rgb(183, 163, 163);
    height: 40px;
    width: 50px;
    border-radius: 2;
    margin: 10px; 
    text-align: center;
    font-size:25px;
}

.scafoldPiece {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(183, 163, 163);
    color: rgb(183, 163, 163);
    height: 20px;
    width: 20px;
    border-radius: 2px;
    margin: 10px; 
    text-align: center;
    font-size:25px;
}

#startBtn {
    background-color: rgb(206, 206, 156);
    width: 180px;
    border: 2px solid rgb(0, 0, 0);
    padding: 12px;
    margin: 10px;
    margin-right: 60px;
    grid-column: 1 / span 1;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#resetBtn {
    background-color: rgb(249, 250, 245);
    width: 180px;
    color: rgb(183, 163, 163);
    border: 2px solid rgb(183, 163, 163);
    padding: 12px;
    margin: 10px;
    margin-left: 120px;
    grid-column: 3 / span 1;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.hangingArea {
    /* background-color: RGB(245,245,220); */
    background-color: RGB(255,255,255);
    grid-column: 1 / span 3;
    width: 450px;
    border: 0px solid green;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#gameDisplay {
    background-color:  rgb(249, 250, 245);
    grid-column: 1 / span 3;
    width: 450px;
    border: 2px solid rgb(183, 163, 163);
    padding: 20px;
    margin: 10px;  
    text-align: center;  
}

footer {
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: rgb(206, 206, 156);
}